<!--title is input type which goes to the heade component-->
  <app-section-header title="Student Details"></app-section-header>
    <!--First Name ,Last Name ,Date of Birth ,Gender ,Grade, IsBatch Holder ,badge list--> 
    <app-section>
      <div [formGroup]="student">
            <div class="row" style="margin-left: 100px;">
              <section class="col-sm-6">
                <mat-expansion-panel>
                  <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                    <mat-panel-title>Student Information</mat-panel-title>
                  </mat-expansion-panel-header>
                        <div class="row">
                          <div class="col-12">
                                <div class="row">
                                        <div class="col-sm-2">
                                          <mat-form-field>
                                            <mat-label>First Name</mat-label>
                                            <input matInput formControlName="firstName" />
                                          </mat-form-field>
                                        </div>
                                        <div class="col-sm-2">
                                          <mat-form-field>
                                            <mat-label>Last Name</mat-label>
                                            <input
                                              matInput
                                              formControlName="lastName"
                                              [readonly]="editMode"
                                              [ngStyle]= "{'color:gray':edit}" 
                                              required
                                            />
                                          </mat-form-field>
                                        </div>   
                                </div>    
                                    <div class="row">
                                        <div class="col-sm-2">
                                          <mat-form-field>
                                            <mat-label>Date of Birth</mat-label>
                                            <input matInput formControlName="dateofBirth" type="datetime-local" placeholder="start date" required/>
                                          </mat-form-field>
                                        </div>
                                        <div class="col-sm-2" >
                                          <mat-radio-group formControlName="gender">
                                            <mat-radio-button value="male">Male</mat-radio-button>
                                            <mat-radio-button value="female" >Female</mat-radio-button>
                                          </mat-radio-group>
                                        </div> 
                                    </div>
                              </div>
                          </div>
                  </mat-expansion-panel>
              </section>
            </div>
            <br/> 
            <div formGroupName="studentAdditionalInformation">
              <div class="row" style="margin-left: 100px;">
                <section class="col-sm-6">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                      <mat-panel-title>Other Information</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-sm-2">
                        <mat-form-field>
                          <mat-label>Grade</mat-label>
                          <input matInput formControlName="grade" />
                        </mat-form-field>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                        <mat-checkbox formControlName="isBatchHolder" mat-tooltip="Is Batch Holder">Is Batch Holder</mat-checkbox>
                    </div>
                    <!-- <div class="col-sm-2">
                      <mat-form-field>
                        <mat-label>Batches</mat-label>
                        <mat-select>
                          <mat-option></mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div> -->
                </div>
                  </mat-expansion-panel>
                </section>
              </div>   
            </div> 
          </div>
        <div mat-dialog-actions align="middle" style="margin-top: 5px">
          <button mat-flat-button color="primary" (click)="saveClick()">
            Save
          </button>
        </div>
    </app-section>
